img.noborder{
    border: none !important;
    background: none !important;
    box-shadow: none !important;
	margin: 0 !important;
}
img.white{
  background: white !important;
}
.img-left{
  float: left;
}

.jc-nospace{
	margin:0 !important;
}

.jc-highlight {
	color:#cf0;
	font-weight:bold;
}
.jc-left {
  text-align: left;
}
.orange-txt{
  color : orange;
}


.jc-pastille , .jc-small-pastille{
  width : 4rem;
  height : 4rem;  
  border-radius: 50% 0 ;
  display: inline-block;
}
.jc-small-pastille{
  width : 2rem;
  height : 2rem;  
}

.jc-pastille-rouge{
  background-color: red;
}
.jc-pastille-jaune{
  background-color: yellow;
}
.jc-pastille-bleu{
  background-color: blue;
}
.soft_ico{
  float : left ;
  border : none !important ;
  height : 5rem ;
}
.soft_ico2{
  border : none !important ;
  height : 5rem ;
}